@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Gift of the Giver Foundation</h1>
    <p><a asp-action="Index" asp-controller="Donations">Donations</a>.</p>
</div>
